@tailwind base;
@tailwind components;
@tailwind utilities;

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.home-image {
  background-image: url(/src/images/homePageImage.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #036069;
  outline: none;
}
